* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}

hr{
    width: 100%;
    height: 2px;    
    background-color: #7979EF;
    border: none;
}

.nav-part2 {
    display: flex;
    gap:4vw;
    align-items: center;
}

nav h2{
    font-size: 1.5vw;
    font-weight: 700;
}
nav h4{
    font-size: 1.1vw;
}
nav select{
    font-size: 1vw;
    padding: 0.7vw 1.4vw;
    background-color: #7A75EF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    display: none;
}
nav button{
    font-size: 1vw;
    padding: 0.7vw 1.4vw;
    background-color: #7A75EF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}


nav i {
    display: none;
}

.content{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    position: relative;
    
}

.left{
    height: 100%;
    width: 54%;
    padding: 5vw 4vw;   
}

.left h1{
    font-size: 4.2vw;
    line-height: 4.4vw;
    font-weight: 700;
}
.left h1 span{
    color: #7A75EF;
}

.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
    
}

.content button{
    font-size: 1.2vw;
    padding: 1.1vw 2.1vw;
    background-color: #7A75EF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

.right{
    height: 100%;
    width: 46%;
    /* background-color: royalblue */
   
}


.right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



@media (max-width: 600px) {
    nav {
        padding: 0 5vw;
        height: 60px;
    }
    nav h2{
        font-size: 5.1vw;
        cursor: pointer;
    }
    nav h4{
        font-size: 4vw;
        display: none;
    }
    nav i {
        display: block;
        cursor: pointer;
        font-size: 4.5vw;
    }

    nav button{
        display: none;
    }
    nav select{
        display: block;
    }

    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }

    .left{
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
    }

    .right{
        width: 100%;
        height: 55%;
    }

    .left h1{
        font-size: 10vw;
        line-height: 11vw;
        font-weight: 700;
    }
    .left p{
        font-size: 3.2vw;
        font-weight: 600;
        color: #666;
        width: 80%;
        margin-top: 5vw;
        margin-bottom: 3vw;
        width: 90%;
    }

    .content button{
        font-size: 3.2vw;
        padding: 1.1vw 2.1vw;
    }
    nav select{
        font-size: 3.2vw;
        padding: 1.1vw 2.1vw;
    }

    
}